.MapTableContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: #97b7d1;
    padding: 10px;
}

.Map-container {
    height: 650px;
    width: 1600px;
}

.Selectbox {
    padding-top: 30px;
    width: 450px;
}

.DotMarkers {
    text-align: left;
}

.DotMarkers>h4 {
    font-size: 12px;
    color: black;
    margin: 0.5em 0
}


.TableContainer {
    align-items: right;
    text-align: right;
    display: inline;
}